<%!
%>

<%inherit file="/_base.html" />

<%def name="html_title()">首页</%def>

<div style="margin:100px auto 0;line-height:32px;font-size:36;width:600px">
<div>好好学习</div>
<div>天天向上</div>
%if mail:
<div>刚刚输入的邮箱是 ${mail}</div>
%endif
<form method="POST">
    ${this.xsrf_form_html|n}
    <div>邮箱 <input
        style="border:1px solid #999;width:300px;padding:7px" 
        name="mail"></div>
    <div style="margin-top:10px"><button type="submit">提交</button></div>

</form>
</div>
